.main-color {
    color: $main;
}

.color-red {
    color: $red;
}

.color-white {
    color: white;
}

.price {

    &__subtitle {
        opacity: 0.6;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
    }

    &__new {
        font-weight: 700;
        font-size: 40px;

        @include mobile {
            font-size: 30px;
        }
    }

    &__old {
        font-size: 30px;
        color: #696969;
        text-decoration-line: line-through;

        @include mobile {
            font-size: 22px;
        }
    }

    &-card {
        background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), #D9D9D9;
        border-radius: 12px;
        padding: 25px 50px;
        display: flex;
        justify-content: space-between;

        @include netbook {
            padding: 25px 15px;
            flex-direction: column;
        }

        &__text {
            width: 100%;
            max-width: 580px;
            display: flex;
            align-items: center;

            @include netbook {
                flex-direction: column;
                row-gap: 10px;
                max-width: 100%;
            }

            &_title {}

            &_info {
                margin-left: 30px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 22px;

                @include netbook {
                    font-size: 16px;
                }
            }
        }

        &__action {
            width: 100%;
            max-width: 450px;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include netbook {
                flex-direction: column;
                margin-top: 20px;
                row-gap: 15px;
                max-width: 100%;
            }

            &_price {
                line-height: 1.1;
                margin-right: 26px;

                @include netbook {
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                }
            }

            &_button {

                .main-btn {
                    padding: 15px 40px;

                    @include netbook {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.icon-card {
    display: flex;
    align-items: center;

    &__icon {
        min-width: 60px;
        min-height: 60px;
        max-width: 60px;
        max-height: 60px;
        border-radius: 50%;
        border: 1px solid $main-second;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin-right: 15px;


        &._borderless {
            padding: 0;
            border: none;
            border-radius: 0;
        }

        &_img {}
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
    }

    &__title-white {
        font-weight: 700;
        font-size: 16px;
        color: white;
    }

    //.icon-card__text
    &__text {
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
    }

    //.icon-card__text-fs14
    &__text-fs14 {
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6);
    }

    &__link {
        text-decoration: none;
        font-weight: 700;
        color: white;
        border-bottom: 1px solid white;
    }
}

.title-info {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%);
    box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
    border-radius: 11px;
    display: flex;
    align-items: center;

    &__icon {
        min-width: 38px;
        min-height: 38px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        opacity: 0.6;
    }

    /* Radius */
    &-radius {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 452px;
        background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%), #121212;
        box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
        border-radius: 50px;
        padding: 10px 25px;

        &__icon {
            width: 34px;
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__text {
            font-weight: 400;
            font-size: 18px;
            opacity: 0.6;
        }
    }
}

.custom-card {

    /* Bordered - Column */
    &-b-c {
        width: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background: $dark-grey;
        border: 1px solid rgba(255, 255, 255, 0.08);
        border-radius: 9px;
        cursor: pointer;
        padding: 15px;

        &__icon {
            width: auto;
            height: 60px;
            margin-bottom: 10px;
        }

        &__text {
            font-weight: 600;
            font-size: 18px;
            margin-top: 20px;
            text-align: center;
            line-height: 1.1;
        }

        &:hover {
            border: 1px solid #0ABD92;
        }
    }

    /* Column */
    &-c {
        &__icon {
            margin-bottom: 20px;

            &_img {
                height: 45px;
                width: auto;

                @include mobile {
                    height: 30px;
                }
            }
        }

        &__title {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 10px;

            @include mobile {
                font-size: 19px;
            }
        }

        &__text {
            font-weight: 500;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.6);

            @include mobile {
                font-size: 14px;
            }
        }
    }

}

.custom-tag {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.6);

    @include mobile {
        padding: 7px 12px;
    }

    &__icon {
        height: 18px;
        width: 18px;
        object-fit: contain;
        margin-right: 7px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;

        @include mobile {
            font-size: 12px;
        }
    }
}

.slider-card {
    background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%);
    border-radius: 12px;
    overflow: hidden;

    &__title {
        font-weight: 700;
        font-size: 18px;

        @include netbook {
            font-size: 12px;
        }
    }

    &__content {
        padding: 20px;
    }

    &__img {
        background: linear-gradient(0deg, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 15px;
        height: 240px;

        @include netbook {
            height: 160px;
        }

        &_item {
            width: 90%;
            height: 207px;
            object-fit: contain;

            @include netbook {
                height: 150px;
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        &_old {
            font-weight: 500;
            font-size: 14px;
            text-decoration-line: line-through;
            opacity: 0.3;
            margin-left: 15px;

            @include netbook {
                font-size: 9px;
            }
        }

        &_new {
            font-weight: 700;
            font-size: 18px;

            @include netbook {
                font-size: 13px;
            }
        }
    }

    &__button {
        .main-btn-bordered {
            width: 100%;
            padding: 8px 50px;
        }
    }


}

.checked-item {
    display: flex;
    margin: 10px 0;
    align-items: center;

    &_img {
        display: flex;
        width: auto;
        height: 21px;
    }

    &_img-sm {
        width: auto;
        height: 13px;
    }

    // .checked-item_text
    &_text {
        margin-left: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;

        span {
            font-weight: 400;
            opacity: 0.6;
        }

        @include netbook {
            font-size: 16px;
        }
    }

    // .checked-item_text-sm
    &_text-sm {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
    }
}

.neon-glow {

    // .neon-glow__bg-body
    &__bg-body {
        position: relative;
    }

    // .neon-glow__blur-200
    &__blur-200 {
        position: absolute;
        background: linear-gradient(90deg, #009B8D -0.7%, #009DB9 211.34%), linear-gradient(90deg, #009B8D -0.7%, #009DB9 211.34%);
        filter: blur(200px);
    }

    // .neon-glow__blur-300
    &__blur-300 {
        position: absolute;
        background: linear-gradient(90deg, #009B8D -0.7%, #009DB9 211.34%);
        filter: blur(300px);
    }

    // .neon-glow__blur-300-width
    &__blur-300-width {
        position: absolute;
        width: 289px;
        height: 289px;
        background: linear-gradient(90deg, #009B8D -0.7%, #009DB9 211.34%);
        filter: blur(300px);
    }

    // .neon-glow__blur-250
    &__blur-250 {
        position: absolute;
        background: linear-gradient(90deg, #009B8D -0.7%, #009DB9 211.34%);
        filter: blur(250px);
    }

    // .neon-glow__blur-250-width-194
    &__blur-250-width-139 {
        position: absolute;
        width: 139px;
        height: 174px;
        background: linear-gradient(90deg, #009B8D -0.7%, #009DB9 211.34%);
        filter: blur(250px);
    }

    // .neon-glow__blur-250-width-194
    &__blur-250-width-194 {
        position: absolute;
        width: 194px;
        height: 174px;
        background: linear-gradient(90deg, #009B8D -0.7%, #009DB9 211.34%);
        filter: blur(250px);
    }

    // .neon-glow__blur-250-width-270
    &__blur-250-width-270 {
        position: absolute;
        width: 270px;
        height: 173px;
        background: linear-gradient(90deg, #009B8D -0.7%, #009DB9 211.34%);
        filter: blur(250px);
    }
}

<<<<<<< HEAD
.main-btn-gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border: 2px solid $main;  
    // border-image-source: linear-gradient(263.17deg, #009B8D 8.45%, #009DB9 104.28%);
    // border-image-slice: 2;
    color: $main;
    border-radius: 73px;
=======
.card-item {

    // .card-item__block
    &__block {
        display: flex;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 12px;
        gap: 10px;
    }

    // .card-item__block-img
    &__block-img {
        filter: invert(36%) sepia(0%) saturate(0%) hue-rotate(178deg) brightness(92%) contrast(97%);
    }
}

._tab-active {
    border: 1px solid $main;
}

._tab-active .card-item {
    &__block {}

    &__block-img {
        filter: invert(57%) sepia(29%) saturate(5589%) hue-rotate(138deg) brightness(92%) contrast(95%);
    }

    &__block-text {
        color: $main;
    }
>>>>>>> f3d716292b87a07e304f8c161ae9957d411eba9d
}