.main-color {
    color: $main;
}

.color-red {
    color: $red;
}

.color-white {
    color: white;
}

.main-title {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 52px;
    text-transform: uppercase;

    &__notcase {
        text-transform: none;
    }

    &__icon {
        width: auto;
        height: 53px;
        margin-right: 15px;
    }

    &__card {
        width: auto;
        padding: 20px;
        background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%);
        box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
        border-radius: 11px;
        display: flex;
        align-items: center;

        &_icon {
            min-width: 38px;
            min-height: 38px;

            max-width: 50px;
            max-height: 50px;

            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &_text {
            font-weight: 500;
            font-size: 18px;
            opacity: 0.6;
        }


        /* Radius */
        &-radius {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%), #121212;
            box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
            border-radius: 50px;
            padding: 10px 25px;

            &__icon {
                width: auto;
                height: 25px;
                object-fit: contain;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

            &__text {
                font-weight: 400;
                font-size: 18px;
                opacity: 0.6;
            }
        }
    }
}

.main-subtitle {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;

    &__big {
        font-weight: 600;
        font-size: 36px;

    }
}

.main-screen {
    display: flex;
    justify-content: center;

    &__block {
        position: relative;
    }

    &__top {
        position: absolute;
        max-width: 1094px;
        height: 520px;
        object-fit: cover;
        left: 54px;
        bottom: 170px;
    }

    &__bottom {
        max-width: 1200px;
        height: 750px;
        object-fit: contain;
    }

    &__play {
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        cursor: pointer;
    }

    &__icon {}
}

.price {

    &__subtitle {
        opacity: 0.6;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
    }

    &__new {
        font-weight: 700;
        font-size: 40px;
    }

    &__old {
        font-size: 30px;
        color: #696969;
        text-decoration-line: line-through;
    }
}

.icon-card {
    display: flex;
    align-items: center;

    &__icon {
        min-width: 60px;
        min-height: 60px;
        max-width: 60px;
        max-height: 60px;
        border-radius: 50%;
        border: 1px solid $main-second;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin-right: 15px;

        &_img {}
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
    }

    &__link{
        text-decoration: none;
        font-weight: 700;
        color: white;
        border-bottom: 1px solid white;
    }
}

.title-info {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%);
    box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
    border-radius: 11px;
    display: flex;
    align-items: center;

    &__icon {
        min-width: 38px;
        min-height: 38px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        opacity: 0.6;
    }

    /* Radius */
    &-radius {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 452px;
        background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%), #121212;
        box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
        border-radius: 50px;
        padding: 10px 25px;

        &__icon {
            width: 34px;
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__text {
            font-weight: 400;
            font-size: 18px;
            opacity: 0.6;
        }
    }
}

.custom-card {

    /* Bordered - Column */
    &-b-c {
        width: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background: $dark-grey;
        border: 1px solid rgba(255, 255, 255, 0.08);
        border-radius: 9px;
        cursor: pointer;
        padding: 15px;

        &__icon {
            width: auto;
            height: 60px;
            margin-bottom: 10px;
        }

        &__text {
            font-weight: 600;
            font-size: 18px;
            margin-top: 20px;
            text-align: center;
            line-height: 1.1;
        }

        &:hover {
            border: 1px solid #0ABD92;
        }
    }

    /* Column */
    &-c {
        &__icon {
            margin-bottom: 20px;

            &_img {
                height: 45px;
                width: auto;
            }
        }

        &__title {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 10px;
        }

        &__text {
            font-weight: 500;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.6);
        }
    }

}