.main-color {
    color: $main;
}

.price {

    &__subtitle {
        opacity: 0.6;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
    }

    &__new {
        font-weight: 700;
        font-size: 40px;
    }

    &__old {
        font-size: 30px;
        color: #696969;
        text-decoration-line: line-through;
    }
}