.main-color {
    color: $main;
}

.color-red {
    color: $red;
}

.color-white {
    color: white;
}

.main-title {

    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 52px;
    text-transform: uppercase;

    @include mobile {
        flex-direction: column;

        font-size: 28px;
    }

    &__notcase {
        text-transform: none;
    }

    &__icon {
        width: auto;
        height: 53px;
        margin-right: 15px;

        @include mobile {
            height: 30px;
            margin: 0 0 10px;
        }
    }

    &__card {
        width: auto;
        padding: 20px;
        background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%);
        box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
        border-radius: 11px;
        display: flex;
        align-items: center;

        &_icon {
            min-width: 38px;
            min-height: 38px;

            max-width: 50px;
            max-height: 50px;

            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include mobile {
                min-height: 30px;
                max-height: 30px;
            }
        }

        &_text {
            font-weight: 500;
            font-size: 18px;
            opacity: 0.6;

            @include mobile {
                font-size: 14px;
            }
        }

        /* Radius */
        &-radius {
            display: flex;
            align-items: center;
            justify-content: center;
            width: auto;
            background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%), #121212;
            box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
            border-radius: 50px;
            padding: 10px 25px;

            &__icon {
                width: auto;
                height: 25px;
                object-fit: contain;
                margin-right: 10px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    width: 35px;
                    object-fit: cover;
                }
            }

            &__text {
                font-weight: 400;
                font-size: 18px;
                opacity: 0.6;

                @include mobile {
                    font-size: 16px;
                }
            }
        }
    }
}

.main-subtitle {
    margin-top: 20px;
    font-weight: 600;
    font-size: 24px;

    @include mobile {
        font-size: 18px;
        margin-top: 10px;
    }

    &__big {
        font-weight: 600;
        font-size: 36px;

        @include mobile {
            font-size: 20px;
        }
    }
}

.main-screen {
    display: flex;
    justify-content: center;

    &__block {
        position: relative;
        display: flex;
    }

    &__top {
        position: absolute;
        max-width: 1094px;
        height: 520px;
        object-fit: cover;
        left: 54px;
        bottom: 170px;

        @include mobile {
            height: calc(100% - 30px);
            object-fit: cover;
            bottom: 0;
            left: 0;
            top: 0;
            padding: 17px;
        }
    }

    &__bottom {
        max-width: 1200px;
        height: 750px;
        object-fit: contain;

        @include mobile {
            height: auto;
        }
    }

    &__play {
        width: 80px;
        height: 80px;
        background-color: #fff;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 30px;
        cursor: pointer;

        @include mobile {
            width: 45px;
            height: 45px;
            padding: 15px;
        }
    }

    &__icon {}
}

.price {

    &__subtitle {
        opacity: 0.6;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 5px;
    }

    &__new {
        font-weight: 700;
        font-size: 40px;

        @include mobile {
            font-size: 30px;
        }
    }

    &__old {
        font-size: 30px;
        color: #696969;
        text-decoration-line: line-through;

        @include mobile {
            font-size: 22px;
        }
    }

    &-card {
        background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), #D9D9D9;
        border-radius: 12px;
        padding: 25px 50px;
        display: flex;
        justify-content: space-between;

        @include tablet {
            padding: 25px 15px;
            flex-direction: column;
        }

        &__text {
            width: 100%;
            max-width: 580px;
            display: flex;
            align-items: center;

            @include tablet {
                flex-direction: column;
                row-gap: 10px;
            }

            &_title {}

            &_info {
                margin-left: 30px;
                color: rgba(255, 255, 255, 0.6);
                font-size: 22px;

                @include tablet {
                    font-size: 16px;
                }
            }
        }

        &__action {
            width: 100%;
            max-width: 450px;

            display: flex;
            align-items: center;
            justify-content: flex-end;

            @include tablet {
                flex-direction: column;
                margin-top: 20px;
                row-gap: 15px;
            }

            &_price {
                line-height: 1.1;
                margin-right: 26px;

                @include tablet {
                    display: flex;
                    align-items: center;
                    column-gap: 20px;
                }
            }

            &_button {

                .main-btn {
                    padding: 15px 40px;

                    @include tablet {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.icon-card {
    display: flex;
    align-items: center;

    &__icon {
        min-width: 60px;
        min-height: 60px;
        max-width: 60px;
        max-height: 60px;
        border-radius: 50%;
        border: 1px solid $main-second;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin-right: 15px;


        &._borderless {
            padding: 0;
            border: none;
            border-radius: 0;
        }

        &_img {}
    }

    &__title {
        font-weight: 700;
        font-size: 16px;
    }

    &__title-white {
        font-weight: 700;
        font-size: 16px;
        color: white;
    }

    //.icon-card__text
    &__text {
        font-weight: 400;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.6);
    }

    //.icon-card__text-fs14
    &__text-fs14 {
        font-weight: 400;
        font-size: 14px;
        color: rgba(255, 255, 255, 0.6);
    }

    &__link {
        text-decoration: none;
        font-weight: 700;
        color: white;
        border-bottom: 1px solid white;
    }
}

.title-info {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%);
    box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
    border-radius: 11px;
    display: flex;
    align-items: center;

    &__icon {
        min-width: 38px;
        min-height: 38px;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        opacity: 0.6;
    }

    /* Radius */
    &-radius {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 452px;
        background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%), #121212;
        box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
        border-radius: 50px;
        padding: 10px 25px;

        &__icon {
            width: 34px;
            margin-right: 5px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &__text {
            font-weight: 400;
            font-size: 18px;
            opacity: 0.6;
        }
    }
}

.custom-card {

    /* Bordered - Column */
    &-b-c {
        width: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        background: $dark-grey;
        border: 1px solid rgba(255, 255, 255, 0.08);
        border-radius: 9px;
        cursor: pointer;
        padding: 15px;

        &__icon {
            width: auto;
            height: 60px;
            margin-bottom: 10px;
        }

        &__text {
            font-weight: 600;
            font-size: 18px;
            margin-top: 20px;
            text-align: center;
            line-height: 1.1;
        }

        &:hover {
            border: 1px solid #0ABD92;
        }
    }

    /* Column */
    &-c {
        &__icon {
            margin-bottom: 20px;

            &_img {
                height: 45px;
                width: auto;

                @include mobile {
                    height: 30px;
                }
            }
        }

        &__title {
            font-weight: 700;
            font-size: 24px;
            margin-bottom: 10px;

            @include mobile {
                font-size: 19px;
            }
        }

        &__text {
            font-weight: 500;
            font-size: 16px;
            color: rgba(255, 255, 255, 0.6);

            @include mobile {
                font-size: 14px;
            }
        }
    }

}

.custom-tag {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 20px;
    border-radius: 50px;
    border: 1px solid rgba(255, 255, 255, 0.6);

    @include mobile {
        padding: 7px 12px;
    }

    &__icon {
        height: 18px;
        width: 18px;
        object-fit: contain;
        margin-right: 7px;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 1.2;

        @include mobile {
            font-size: 12px;
        }
    }
}

.slider-card {
    background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%);
    border-radius: 12px;
    overflow: hidden;

    &__title {
        font-weight: 700;
        font-size: 18px;

        @include tablet {
            font-size: 12px;
        }
    }

    &__content {
        padding: 20px;
    }

    &__img {
        background: linear-gradient(0deg, rgba(34, 34, 34, 0.7), rgba(34, 34, 34, 0.7)), linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%);
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 15px;
        height: 240px;

        @include tablet {
            height: 160px;
        }

        &_item {
            width: 90%;
            height: 207px;
            object-fit: contain;

            @include tablet {
                height: 150px;
            }
        }
    }

    &__price {
        display: flex;
        align-items: center;
        margin-top: 20px;
        margin-bottom: 20px;

        &_old {
            font-weight: 500;
            font-size: 14px;
            text-decoration-line: line-through;
            opacity: 0.3;
            margin-left: 15px;

            @include tablet {
                font-size: 9px;
            }
        }

        &_new {
            font-weight: 700;
            font-size: 18px;

            @include tablet {
                font-size: 13px;
            }
        }
    }

    &__button {
        .main-btn-bordered {
            width: 100%;
            padding: 8px 50px;
        }
    }


}


.swiper-button-next,
.swiper-button-prev {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.6;
    background: #FFFFFF;
    filter: drop-shadow(0px 1px 15px rgba(0, 0, 0, 0.16));

    &:hover {
        background: linear-gradient(135.14deg, #0ABD92 0%, #009DB8 102.25%);
        opacity: 1;
    }

    &:hover::after {
        color: white;
    }
}

.swiper-button-next:after,
.swiper-button-prev:after {
    color: #333333;
    opacity: 0.8;
    font-size: 20px;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
    right: -20px;

    @include mobile {
        right: 5px;
    }
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
    left: -20px;

    @include mobile {
        left: 5px;
    }
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -50px;
}

.swiper-pagination-bullet {
    background-color: white;
    opacity: 0.6;
}

.swiper-pagination-bullet-active {
    background: $main;
}



/* The switch */
.switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 25px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 2px solid white;
    background-color: transparent;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 0;
    bottom: 0;
    background: linear-gradient(135.14deg, #0ABD92 0%, #009DB8 102.25%);
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: transparent;
}

input:focus+.slider {
    box-shadow: 0 0 1px transparent;
}

input:checked+.slider:before {
    transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


// checked items
.checked-item {
    display: flex;
    margin: 10px 0;
    align-items: center;
    height: 24px;

    &_img {
        display: flex;
        width: auto;
        height: 21px;
    }

    &_img-sm {
        width: auto;
        height: 13px;
    }

    // .checked-item_text
    &_text {
        margin-left: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 1.4;

        span {
            font-weight: 400;
            opacity: 0.6;
        }
    }

    // .checked-item_text-sm
    &_text-sm {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
    }
}