* {
    font-family: $font;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    background-color: $black;
    color: white;
    line-height: 1.3;
}

img {
    width: 100%;
    height: auto;
}

a,
button {
    transition: 300ms ease;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    width: 100%;
    max-width: 1920px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}