/* @include font-face(Exo2, "../fonts/Exo2/Exo2-Light", 300, normal);
@include font-face(Exo2, "../fonts/Exo2/Exo2-Regular", normal, normal);
@include font-face(Exo2, "../fonts/Exo2/Exo2-Bold", bold, normal); */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');