.footer {
    display: flex;
    flex-direction: column;
    margin-top: 45px;

    &__bg {


        &_top {
            background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), linear-gradient(135.14deg, #0ABD92 0%, #009DB8 102.25%);
        }


        &_bottom {
            background: #272727;
        }
    }

    &__row {

        @include netbook {
            text-align: center;
        }


        &_top {
            display: flex;
            justify-content: space-between;
            padding-top: 40px;
            padding-bottom: 40px;
            column-gap: 30px;

            @include netbook {
                flex-direction: column;
                padding-top: 30px;
                padding-bottom: 30px;
                align-items: center;
                row-gap: 15px;
            }
        }

        &_bottom {
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            column-gap: 15px;

            @include netbook {
                flex-direction: column-reverse;
                padding: 20px 0;
            }
        }
    }

    // .footer__block ---------------------------
    &__block {

        // .footer__block_a
        &_a {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            max-width: 375px;

            &::after {}

            @include netbook {
                justify-content: center;
            }
        }

        // .footer__block_b
        &_b {
            display: flex;
            max-width: 446px;
            justify-content: space-between;
            gap: 36px;

            @include netbook {
                flex-wrap: wrap;
                text-align: center;
                justify-content: center;
                width: 100%;
            }
        }
    }

    // .footer__logo ---------------------------
    &__logo {
        display: inline-block;

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        // .footer__logo_img
        &_img {}

        // .footer__logo_text
        &_text {
            font-size: 12px;

            @include netbook {
                text-align: center;
            }
        }
    }

    // .footer__contact ---------------------------
    &__contact {
        line-height: 1.9;

        &:not(:last-child) {
            margin-right: 43px;

            @include netbook {
                margin: 0;
            }
        }

        @include netbook {
            margin: 0;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 10px;
        }

        // .footer__contact_span
        &_span {
            margin: 0;
        }

        // .footer__contact_br
        &_br {
            max-width: 180px;
            line-height: 1.9;
            flex-direction: column;

            &:nth-child(2) {
                &:not(:last-child) {
                    padding-left: 35px;

                    @include netbook {
                        padding: 0;
                    }
                }
            }

            @include netbook {
                flex-direction: row;
                max-width: 100%;
            }
        }
    }

    // .footer__contact-btn ---------------------------
    &__contact-btn {
        padding: 10px 30px;
        place-self: center;

        @include netbook {
            width: 100%;
            margin-top: 20px;
            order: 3;
        }
    }

    // .footer__legal ---------------------------
    &__legal {

        &:nth-child(2) {
            max-width: 200px;
            line-height: 1.6;
            font-size: 14px;

            @include netbook {
                max-width: 100%;
            }
        }
    }

    // .footer__legal-details ---------------------------
    &__legal-details {
        &:not(:last-child) {
            margin-bottom: 8px;
        }
    }

    // .footer__bottom-left
    &__bottom-left {
        font-size: 12px;
        opacity: 0.6;

        @include netbook {
            text-align: center;
        }
    }

    // .footer__bottom-right
    &__bottom-right {
        display: flex;
        column-gap: 33px;

        @include netbook {
            flex-direction: column;
            align-items: center;
            row-gap: 15px;
            margin-bottom: 20px;
        }
    }

    // .footer__policy
    &__policy {
        text-decoration: none;
        font-size: 12px;
        opacity: 0.6;
        color: white;
    }
}