.header {
    padding-top: 40px;
    padding-bottom: 40px;

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        display: flex;
        align-items: flex-end;
        text-decoration: none;

        &_img {
            width: auto;
            height: 37px;
            margin-right: 20px;
        }

        &_text {
            position: relative;
            height: 100%;
            font-weight: 500;
            font-size: 12px;
            color: #FFFFFF;
            opacity: 0.6;
            line-height: 1.2;
            padding-left: 20px;
            height: 24px;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                display: inline-block;
                width: 2px;
                height: 100%;
                background-color: white;
                position: absolute;
                left: 0;

            }
        }
    }

    &__sidebar {
        display: flex;
        align-items: center;

        &_menu {
            margin-left: 40px;
        }

        &_btn{}

        .hamburger {
            display: flex;
            align-items: center;
            padding: 0;
        }

        .hamburger--elastic .hamburger-inner:before {
            width: 22px;
            right: 0;
        }

        .hamburger-inner,
        .hamburger-inner:after,
        .hamburger-inner:before {
            height: 3px;
            width: 36px;
        }
    }

}