.header {
    // padding-top: 40px;
    // padding-bottom: 40px;
    z-index: 10;
    position: relative;
    &::before {
        content: '';
        transition: all .3s linear 0s;
        position: absolute;
        transform: translateX(100%);
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: #0C0C0C;
    }
    
    .footer {
        @media (min-width: 1200px) {
            display: none;
        }
        @include laptop { 
            transition: all .3s linear 0s;
            opacity: 0;
            transform: translateX(100%);
            position: absolute;
            top: 550px;
            width: 100%;
        }
    }

    &._active {
        @media (min-width: 1200px) {
            .header__lists {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @include laptop {
            position: fixed;
            width: 100%;
            height: 100%;
            overflow-x: auto;

            ~.main .first {
                margin-top: 117px;
                @include netbook {
                    margin-top: 157px;
                }
                @include mobile {
                    margin-top: 117px;
                }
            }

            .header__lists,
            .header__sidebar_btn-2,
            .footer {
                opacity: 1;
                transform: translateX(0%);
            }
            &::before {
                transform: translateX(0%);
            }
        }
    }
    
    &__block {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 11;
        position: relative;
        padding-top: 40px;
        padding-bottom: 40px;
        @include mobile {
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    &__logo {
        display: flex;
        align-items: flex-end;
        text-decoration: none;

        &_img {
            width: auto;
            height: 37px;
            margin-right: 20px;
        }

        &_text {
            position: relative;
            height: 100%;
            font-weight: 500;
            font-size: 12px;
            color: #FFFFFF;
            opacity: 0.6;
            line-height: 1.2;
            padding-left: 20px;
            height: 24px;
            display: flex;
            align-items: center;

            &::before {
                content: "";
                display: inline-block;
                width: 2px;
                height: 100%;
                background-color: white;
                position: absolute;
                left: 0;

            }

            @include mobile {
                display: none;
            }
        }
    }

    &__sidebar {
        display: flex;
        align-items: center;
        position: relative;

        &_menu {
            margin-left: 40px;
            @include laptop {
                order: 1;
            }
            @include mobile {
                margin: 0;
                padding: 0;
            }
        }
        &_btn {
            @include tablet {
                display: none;
            }
        }
        &_btn-2 {
            @media (min-width: 1199.99px) {
                display: none;
            }
            @include laptop {
                opacity: 0;
                transform: translateX(100%);
                position: absolute;
                top: 450px;
                right: 0;
                min-width: max-content;
                width: 370px;
                padding: 20px 0;
            }
            @media (max-width: 399px) {
                width: 290px;
            }
        }
        .hamburger {
            display: flex;
            align-items: center;
            padding: 0;
        }

        .hamburger--elastic .hamburger-inner:before {
            width: 22px;
            right: 0;
        }

        .hamburger-inner,
        .hamburger-inner:after,
        .hamburger-inner:before {
            height: 3px;
            width: 36px;
        }
    }

	// .header__lists
	&__lists {
        transition: all .3s linear 0s, opacity .3s linear 0s;
        @media (min-width: 1199.99px) {
        opacity: 0;
        position: absolute;
        top: 310px;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        row-gap: 64px;
        transform: translateY(-100px);
            .item-1 {
                @media (any-hover: hover) {
                    &:hover {
                        .line-1 {
                            &::before {
                                transform: rotate(7deg) translateX(-20px);
                            }
                            &::after {
                                transform: rotate(-7deg) translateX(-17px);
                            }
                        }
                    }
                }
            }
            .item-2 {
                @media (any-hover: hover) {
                &:hover {
                        .line-2 {
                            &::before {
                                transform: rotate(7deg) translateX(-17px);
                            }
                            &::after {
                                transform: rotate(-7deg) translateX(-17px);
                            }
                        }
                        ~.header__item .line-3 {
                            &::before {
                                transform: rotate(-7deg) translateX(-32px);
                            }
                        }
                    }
                }
            }
            .item-3 {
                @media (any-hover: hover) {
                    &:hover {
                        .line-3 {
                            &::before {
                                transform: rotate(7deg) translateX(-17px);
                            }
                            &::after {
                                transform: rotate(-7deg) translateX(-17px);
                            }
                        }
                    }
                }
            }
            .item-4 {
                @media (any-hover: hover) {
                    &:hover {
                        ~.header__item .line-5 {
                            &::before {
                                transform: rotate(-7deg) translateX(-32px);
                            }
                        }
                    }
                }
            }
            .item-5 {
                @media (any-hover: hover) {
                    &:hover {
                            .line-5 {
                                &::before {
                                    transform: rotate(7deg) translateX(-17px);
                                }
                                &::after {
                                    transform: rotate(-7deg) translateX(-20px);
                                }
                            }
                        }
                    }
                }
        }

        @include laptop {
            top: 58px;
            right: 0;
            opacity: 0;
            transform: translateX(100%);
            position: absolute;
            display: flex;
            width: 290px;
            flex-direction: column;
            align-items: flex-end;
            row-gap: 23px;
            order: 2;
            z-index: 14;
        }
	}
	// .header__item
	&__item {
        padding: 12px 0;
        display: flex;
        column-gap: 12px;
        align-items: center;
        text-decoration: none;
        position: relative;
        transition: all .2s linear 0s;

        &::after {
            content: "";
            transition: all .2s ease 0s;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: -webkit-gradient(linear, left top, right top, color-stop(-0.7%, #009B8D), color-stop(211.34%, #009DB9));
            background: -o-linear-gradient(left, #009B8D -0.7%, #009DB9 211.34%);
            background: linear-gradient(90deg, #009B8D -0.7%, #009DB9 211.34%);
            -webkit-filter: blur(110px);
                    filter: blur(110px);
                    z-index: 2;
        }

        @media (any-hover: hover) {
            &:hover {
                transform: translate(-15px, 0);
                &::after {
                    opacity: 1;
                }
                .header__link {
                    color: $main;
                }
                .header__bullet {
                    border: 1px solid $main;
                }
                .header__bullet::before {
                    background: linear-gradient(135.14deg, #0ABD92 0%, #009DB8 102.25%)
                }
            }
        }
        .line-1 {
            &::before {
                height: 60px;
            }
        }
        .line-2 {
            opacity: 0;
        }
        .line-4 {
            opacity: 0;
        }
        .line-5 {
            &::after {
                height: 60px;
            }
        }
	}
	// .header__link
	&__link {
        font-size: 18px;
        font-weight: 500px;
        line-height: 1.4;
        color: white;
        z-index: 5;
       @include laptop {
            font-size: 22px;
       }
	}
	// .header__bullet
	&__bullet {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        border: 1px solid white;
        position: relative;
        z-index: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        &::before {
            content:"";
            position: absolute;
            top: 3.5px;
            left: 3.5px;
            width: 14px;
            height: 14px;
            background: white;
            border-radius: 50%;
        }
        @include laptop {
            display: none;
        }
	}
    // .header__line
	&__line {
        position: relative;
        z-index: 1;
        &::before,
        &::after {
            content:"";
            transition: all .2s linear 0s;
            position: absolute;
            transform: translateX(-25px);
            z-index: 1;
            height: 111px;
            border: 1px solid;
            border-image: repeating-linear-gradient( 360deg, transparent, transparent 8px, rgb(255 255 255 / 20%) 11px, rgb(255 255 255 / 20%) 31px );
            border-image-slice: 2;
        }
        &::before {
            bottom: 0;
        }
        &::after {
            top: 0;
        }
        @include laptop {
            display: none;
        }
    }

}