/* Helpers */
/* Template */
/* @include font-face(Exo2, "../fonts/Exo2/Exo2-Light", 300, normal);
@include font-face(Exo2, "../fonts/Exo2/Exo2-Regular", normal, normal);
@include font-face(Exo2, "../fonts/Exo2/Exo2-Bold", bold, normal); */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #0D0D0D;
  color: white;
  line-height: 1.3;
}

img {
  width: 100%;
  height: auto;
}

a,
button {
  transition: 300ms ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1400px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.container-fluid {
  width: 100%;
  max-width: 1920px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.main-color {
  color: #06B0A1;
}

.color-red {
  color: #C82B2C;
}

.price__subtitle {
  opacity: 0.6;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 5px;
}
.price__new {
  font-weight: 700;
  font-size: 40px;
}
.price__old {
  font-size: 30px;
  color: #696969;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
}

.icon-card {
  display: flex;
  align-items: center;
}
.icon-card__icon {
  min-width: 60px;
  min-height: 60px;
  border-radius: 50%;
  border: 1px solid #009B8D;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin-right: 15px;
}
.icon-card__title {
  font-weight: 700;
  font-size: 16px;
}
.icon-card__text {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
}

.title-info {
  width: 100%;
  max-width: 450px;
  padding: 20px;
  background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%);
  box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
  border-radius: 11px;
  display: flex;
  align-items: center;
  /* Radius */
}
.title-info__icon {
  min-width: 38px;
  min-height: 38px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-info__text {
  font-weight: 500;
  font-size: 18px;
  opacity: 0.6;
}
.title-info-radius {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 452px;
  background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%), #121212;
  box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
  border-radius: 50px;
  padding: 10px 25px;
}
.title-info-radius__icon {
  width: 34px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-info-radius__text {
  font-weight: 400;
  font-size: 18px;
  opacity: 0.6;
}

.custom-card {
  /* Bordered - Column */
}
.custom-card-b-c {
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  background: #121212;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 9px;
  cursor: pointer;
  padding: 15px;
}
.custom-card-b-c__icon {
  width: auto;
  height: 60px;
  margin-bottom: 10px;
}
.custom-card-b-c__text {
  font-weight: 600;
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
  line-height: 1.1;
}
.custom-card-b-c:hover {
  border: 1px solid #0ABD92;
}

.watch-video {
  width: 100%;
  max-width: 210px;
  position: fixed;
  bottom: 50px;
  left: 50px;
  z-index: 10;
  background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), #FFFFFF;
  border-radius: 9px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  display: none;
}
.watch-video__close {
  position: absolute;
  right: -10px;
  top: -10px;
  color: white;
  background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  transform: rotate(45deg);
}
.watch-video__close span {
  position: relative;
  bottom: 2px;
}
.watch-video__title {
  font-weight: 800;
  font-size: 14px;
  margin-bottom: 6px;
}
.watch-video__btn {
  font-weight: 600;
  font-size: 11px;
  color: #FFFFFF;
  opacity: 0.6;
  border-bottom: 1px solid;
  text-align: center;
  padding: 0;
  margin-top: 5px;
}

.main-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(135.14deg, #0ABD92 0%, #009DB8 102.25%);
  box-shadow: -4.17757px 4.17757px 41.7757px rgba(113, 175, 170, 0.16), 0px 20.8878px 34px rgba(0, 0, 0, 0.21);
  border-radius: 50px;
  padding: 25px 40px;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
.main-btn:hover {
  background: radial-gradient(100.79% 1682.74% at 0% 0%, rgba(255, 255, 255, 0.021) 0%, rgba(255, 255, 255, 0.322) 78.13%, rgba(255, 255, 255, 0.091) 100%), linear-gradient(135.14deg, #0ABD92 0%, #009DB8 102.25%), linear-gradient(135.7deg, #7BBAB5 -1.81%, #275B56 104.06%), linear-gradient(135.14deg, #0ABD92 0%, #009DB8 102.25%);
  box-shadow: -4.17757px 4.17757px 41.7757px rgba(113, 175, 170, 0.16), 0px 20.8878px 34px rgba(0, 0, 0, 0.21);
}
.main-btn-bordered {
  display: flex;
  align-items: center;
  justify-content: center;
  filter: drop-shadow(-4.59496px 4.59496px 45.9496px rgba(113, 175, 170, 0.16)) drop-shadow(0px 22.9748px 37.397px rgba(0, 0, 0, 0.21));
  border-radius: 50px;
  color: #06B0A1;
  font-weight: 500;
  font-size: 14px;
  padding: 25px 40px;
  cursor: pointer;
}
.main-btn-bordered:hover {
  background: linear-gradient(135.14deg, #0ABD92 0%, #009DB8 102.25%);
  box-shadow: -4.59496px 4.59496px 45.9496px rgba(113, 175, 170, 0.16), 0px 22.9748px 37.397px rgba(0, 0, 0, 0.21);
}
.main-btn-white {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #FFFFFF;
  border-radius: 50px;
  background-color: transparent;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 13px;
  padding: 8px 35px;
  cursor: pointer;
}
.main-btn-white:hover {
  background: linear-gradient(135.14deg, #0ABD92 0%, #009DB8 102.25%);
  box-shadow: -4.59496px 4.59496px 45.9496px rgba(113, 175, 170, 0.16), 0px 22.9748px 37.397px rgba(0, 0, 0, 0.21);
}

/* Sections for all pages */
.header {
  padding-top: 40px;
  padding-bottom: 40px;
}
.header__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: flex-end;
  text-decoration: none;
}
.header__logo_img {
  width: auto;
  height: 37px;
  margin-right: 20px;
}
.header__logo_text {
  position: relative;
  height: 100%;
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF;
  opacity: 0.6;
  line-height: 1.2;
  padding-left: 20px;
  height: 24px;
  display: flex;
  align-items: center;
}
.header__logo_text::before {
  content: "";
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: white;
  position: absolute;
  left: 0;
}
.header__sidebar {
  display: flex;
  align-items: center;
}
.header__sidebar_menu {
  margin-left: 40px;
}
.header__sidebar .hamburger {
  display: flex;
  align-items: center;
  padding: 0;
}
.header__sidebar .hamburger--elastic .hamburger-inner:before {
  width: 22px;
  right: 0;
}
.header__sidebar .hamburger-inner,
.header__sidebar .hamburger-inner:after,
.header__sidebar .hamburger-inner:before {
  height: 3px;
  width: 36px;
}

/* Pages */
.first {
  position: relative;
}
.first__title {
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}
.first__subtitle {
  font-weight: 800;
  font-size: 85px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}
.first__subtitle_end {
  justify-content: flex-end;
  margin-right: 100px;
  position: relative;
  z-index: 0;
}
.first__shield {
  padding: 20px 30px;
  font-weight: 600;
  display: flex;
  align-items: center;
  font-size: 16px;
  text-transform: none;
  border: 1px solid;
  border-radius: 50px;
  line-height: 1;
  margin-left: 15px;
}
.first__shield_img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.first__block {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
}
.first__img {
  width: 100%;
  max-width: 850px;
  position: absolute;
  top: -210px;
}
.first__img_about {
  width: 100%;
  max-width: 480px;
  margin-top: 40px;
  margin-left: auto;
  border: 1px solid;
  padding: 15px 15px 15px 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  margin-right: 20%;
}
.first__img_icon {
  width: 31px;
  height: 31px;
  margin-right: 20px;
}
.first__right {
  margin-left: auto;
  margin-right: 15%;
  margin-top: 100px;
  position: relative;
  z-index: 2;
}
.first__price {
  width: 100%;
  max-width: 350px;
  text-align: right;
}
.first__controls {
  width: 100%;
  max-width: 400px;
  display: flex;
  margin-top: 30px;
}
.first__play {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 20px 20px 24px;
  border: 2px solid #06B0A1;
  margin-right: 15px;
}
.first__bg {
  position: absolute;
  left: 0;
  top: 450px;
  z-index: 2;
  width: 100%;
  max-width: 400px;
}
.first__about {
  display: flex;
  justify-content: space-between;
  margin-top: 90px;
  position: relative;
  z-index: 2;
}
.first__about_card_icon {
  width: 40px;
  height: 40px;
}
.first__about_title {
  font-weight: 700;
  font-size: 48px;
}
.first__about_text {
  margin-top: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
}
.first__video {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), #D9D9D9;
  border-radius: 12px;
  padding: 40px;
}
.first__video_content {
  width: 50%;
}
.first__video_preview {
  width: 45%;
}
.first__video_title {
  font-weight: 800;
  font-size: 56px;
}
.first__video_subtitle {
  font-weight: 400;
  font-size: 24px;
}
.first__video_price {
  display: flex;
  align-items: center;
}
.first__video_preview {
  position: relative;
}
.first__video_preview_link {
  position: relative;
  display: inline-block;
  height: 100%;
  color: white;
  text-decoration: none;
}
.first__video_preview_subtitle {
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  top: 15px;
  left: 25px;
  z-index: 2;
}
.first__video_preview_title {
  position: absolute;
  top: 42px;
  left: 25px;
  font-weight: 700;
  font-size: 18px;
  z-index: 2;
}
.first__video_preview_img {
  position: relative;
  display: inline-block;
  height: 320px;
  border-radius: 20px;
  overflow: hidden;
}
.first__video_preview_block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  z-index: 2;
  border: 2px solid;
  border-radius: 50%;
  padding: 15px 15px 15px 25px;
}

.second {
  margin-top: 200px;
  margin-bottom: 200px;
}
.second__heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.second__heading_left {
  width: 50%;
}
.second__heading_right {
  width: 50%;
}
.second__heading_text {
  font-weight: 500;
  font-size: 18px;
  opacity: 0.6;
}
.second__heading_block {
  width: 100%;
  max-width: 450px;
  padding: 20px;
  margin-left: auto;
  background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%);
  box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
  border-radius: 11px;
  display: flex;
  align-items: center;
}
.second__heading_icon {
  min-width: 38px;
  min-height: 38px;
  margin-right: 10px;
}
.second__title {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 52px;
  text-transform: uppercase;
}
.second__title_icon {
  width: auto;
  height: 53px;
  margin-right: 15px;
}
.second__subtitle {
  margin-top: 20px;
  font-weight: 600;
  font-size: 24px;
}
.second__about {
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}
.second__about_card {
  display: flex;
  align-items: center;
}
.second__about_icon {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13px;
  border-radius: 50%;
  border: 1px solid #06B0A1;
  margin-right: 20px;
}
.second__about_img {
  width: 25px;
  height: 25px;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}

.third {
  margin-top: 200px;
  margin-bottom: 200px;
}
.third__heading {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
.third__heading_right {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 452px;
  background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%), #121212;
  box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
  border-radius: 50px;
  padding: 10px 25px;
}
.third__heading_right_icon {
  width: 34px;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.third__heading_right_text {
  font-weight: 400;
  font-size: 18px;
  opacity: 0.6;
}
.third__title {
  display: flex;
  align-items: center;
  font-weight: 800;
  font-size: 52px;
  text-transform: uppercase;
}
.third__title_icon {
  width: 54px;
  height: 54px;
  margin-right: 15px;
}
.third__title_2 {
  font-weight: 800;
  font-size: 36px;
  margin-top: 50px;
  margin-bottom: 40px;
}
.third__subtitle {
  font-weight: 600;
  font-size: 24px;
  width: 100%;
  max-width: 663px;
}
.third__about {
  display: flex;
  justify-content: space-between;
}
.third__about_card {
  width: auto;
  max-width: 350px;
  margin-right: 20px;
}
.third__about .icon-card__icon {
  min-width: 54px;
  min-height: 54px;
  max-width: 54px;
  max-height: 54px;
}

.fourth {
  margin-top: 100px;
  margin-bottom: 100px;
}
.fourth__heading {
  display: flex;
  align-items: center;
}
.fourth__heading_right {
  margin-left: auto;
}
.fourth__title {
  font-weight: 800;
  font-size: 52px;
}
.fourth__cards {
  margin-top: 80px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
}
.fourth__cards .custom-card-b-c {
  height: auto;
  min-height: 180px;
}
.fourth__footer {
  margin-top: 80px;
  margin-bottom: 80px;
}
.fourth__footer_title {
  width: 100%;
  max-width: 760px;
  margin: 0 auto 50px;
  text-align: center;
  font-weight: 700;
  font-size: 32px;
}
.fourth__footer_text {
  font-weight: 600;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  padding: 8px 15px;
}
.fourth__footer_icon {
  width: 25px;
  height: 25px;
  margin: 0 10px;
}

.fourth_footer {
  margin-top: 71px;
}
.fourth_footer_info {
  width: 757px;
  font-weight: 700;
  font-size: 32px;
  line-height: 147.5%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 50px;
  color: #FFFFFF;
}
.fourth_footer_info span {
  color: #0ABD92;
}
.fourth_footer_text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 734px;
  height: 67px;
  border: 0.845953px solid #FFFFFF;
  border-radius: 52px;
  font-weight: 600;
  font-size: 24px;
  line-height: 140%;
  color: #FFFFFF;
  text-align: center;
  margin: 0 auto;
}
.fourth_footer_text_icon {
  width: 20.3px;
  height: 20.3px;
  margin-left: 12px;
  margin-right: 12px;
}

.fifth {
  margin-top: 200px;
  margin-bottom: 200px;
}
.fifth__title {
  display: flex;
  align-items: center;
}
.fifth__title_icon {
  width: 59.63px;
  height: 60px;
}
.fifth__title span {
  font-weight: 800;
  font-size: 56px;
  margin-left: 16px;
  text-transform: uppercase;
}
.fifth__heading_right {
  display: flex;
  align-items: center;
  margin-top: 19px;
}
.fifth__heading_right_block {
  max-width: 550px;
  margin-left: 69px;
}
.fifth__subtitle {
  font-weight: 600;
  font-size: 36px;
}
.fifth__about {
  margin-top: 80px;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(3, 1fr);
}
.fifth__about_card {
  margin-top: 50px;
  cursor: pointer;
}
.fifth__about_title {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 346px;
  font-weight: 700;
  font-size: 20px;
}
.fifth__about_title span {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
}
.fifth__about_footer {
  margin-top: 91px;
  text-align: center;
}
.fifth__about_footer_text {
  width: 483px;
  font-weight: 700;
  font-size: 22px;
  opacity: 0.3;
  margin: 0 auto;
}
.fifth__about_footer_img {
  margin-top: 35px;
}

.sixth__title_text {
  font-weight: 800;
  font-size: 56px;
  margin-left: 16px;
  text-transform: uppercase;
}
.sixth__heading_right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
}
.sixth__subtitle {
  font-weight: 600;
  font-size: 36px;
}
.sixth__about {
  display: flex;
}
.sixth__about_card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.sixth__about_card_icon {
  width: 47.47px;
  height: 49px;
}
.sixth__about_card_title {
  font-weight: 700;
  font-size: 20px;
}
.sixth__about_card_text {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.6;
}
.sixth__about_color {
  display: flex;
  padding: 20.5px 18.6px 20.5px 112px;
  background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%), #121212;
  border-radius: 10.386px;
}
.sixth__about_color_icon {
  width: 64px;
  height: 48px;
}
.sixth__about_color_title {
  font-weight: 600;
  font-size: 23px;
}
.sixth__about_color_text {
  font-weight: 400;
  font-size: 18px;
  opacity: 0.6;
}

/* Sliders *//*# sourceMappingURL=style.css.map */