


.eleventh {

    // .eleventh__more
    &__more {
        display: flex;
        flex-direction: column;
        margin-top: 96px;
    }

    // .eleventh__tabl
    &__tabl {
        flex-direction: column;
    }

    // .eleventh__tabl-title
    &__tabl-title {
        background: #171717;
        border-top: 1px solid #3E3E3E;
        font-weight: 500;
        font-size: 18px;
        padding: 18px 19px;
        margin: 0;
    }

    // .eleventh__tabl-body
    &__tabl-body {
        display: flex;
        flex-direction: column;
        padding: 30px 19px 40px;
        row-gap: 25px;
    }

    // .eleventh__tabl-rows
    &__body-rows {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        column-gap: 50px;
    }

    // .eleventh__tabl-block
    &__tabl-block {
        width: 50%;
        display: grid;
        grid-template-columns: auto 1fr auto;
    }

    // .eleventh__descrip
    &__descrip {
        display: grid;
        align-content: center;
        max-width: 411px;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.4;
        padding-right: 20px;
    }

    // .eleventh__line
    &__line {
        width: 100%;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background: #D9D9D9;
            opacity: 0.2;
        }
    }

    // .eleventh__charact
    &__charact {
        display: grid;
        max-width: 420px;
        align-items: center;
        padding-left: 20px;
        justify-items: flex-end;
        text-align: right;
    }
}






// ==================================

// ==================================

// tabs (section 14)
.card-item {

    // .card-item__block
    &__block {
        display: flex;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 12px;
        gap: 10px;
    }

    // .card-item__block-img
    &__block-img {
        filter: invert(36%) sepia(0%) saturate(0%) hue-rotate(178deg) brightness(92%) contrast(97%);
    }
}

._tab-active {
    border: 1px solid $main;
}

._tab-active .card-item {
    &__block {}

    &__block-img {
        filter: invert(57%) sepia(29%) saturate(5589%) hue-rotate(138deg) brightness(92%) contrast(95%);
    }

    &__block-text {
        color: $main;
    }
}


// === POPUP ===============================


//   .wrapper-modal {
//     width: 100%;
//     height: 100%;
//     position: fixed;
// 	top: 0;
// 	left: 0;
// 	bottom: 0;
// 	right: 0;
// 	padding: 30px 10px;
//     // display: none;
//   }

//   .wrapper-modal.active {
//     // display: block;
//   }

//   .overlay {
//     // position: fixed;
//     // top: 0;
//     // left: 0;
//     // width: 100%;
//     // height: 100%;
//     // z-index: 1;
//     // background-color: rgb(24, 24, 24);
//     // opacity: 0.8;

//     display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	min-height: 100%;
// 	flex: 1 1 auto;
// 	width: 100%;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
//   }

//   .modal-window {
//     position: fixed;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 300px;
//     height: 300px;
//     z-index: 2;
//     border: 1px solid black;
//     background-color: #3f3f3f;
//   }

  .content {
    font-size: 56px;
  }
