
.sixteen {
    margin-top: 200px;

    // .sixteen__wrapper
    &__wrapper {
        display: flex;
        background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), #D9D9D9;
        border-radius: 12px;
    }

    // .sixteen__block-left
    &__block-left {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 825px;
        padding: 47px 0 45px 59px;

        // .sixteen__block-left_title
        &_title {
            font-size: 50px;
            font-weight: 800;
            line-height: 61px;
            margin-bottom: 34px;
        }

        // .sixteen__block-left_text
        &_text {
            font-weight: 400;
            font-size: 22px;
            line-height: 168.5%;
            margin-bottom: 48px;
        }

        // .sixteen__block-left_subtext
        &_subtext {
            margin-bottom: 12px;
        }

        // .sixteen__block-left_price-block
        &_price-block {
            display: flex;
            position: relative;
        }

        // .sixteen__block-left_price
        &_price {
            display: flex;
            align-items: center;
            column-gap: 16px;
        }

        // .sixteen__block-left_price-new
        &_price-new {}

        // .sixteen__block-left_price-old
        &_price-old {}

        // .sixteen__block-left_price-btn
        &_price-btn {
            position: absolute;
            right: -30px;
            bottom: 0;
            display: flex;
            align-items: center;
        }

        // .sixteen__block-left_price-btn-b
        &_price-btn-b {
            padding: 17px 37px;
            line-height: 22px;
            z-index: 2;
        }

        // .sixteen__block-left_price-btn-info
        &_price-btn-info {
            max-height: 45px;
            padding: 11px 19px 11px 80px;
        }
    }

    // .sixteen__block-right
    &__block-right {
        position: relative;

        // .sixteen__block-right_text
        &_text {
            position: absolute;
            right: 0;
            top: 0;
            width: 175px;
            margin: 30px 30px;
            text-align: right;
            font-size: 24px;
            line-height: 34px;
        }

        // .sixteen__block-right_picture
        &_picture {
            display: flex;
        }

        // .sixteen__block-right_picture-img
        &_picture-img {
            height: 100%;
            max-height: 444px;
            width: auto;
        }
    }
}

.seventeen {
    margin-top: 250px;

    // .seventeen__titel-block
    &__title-block {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 59px;
    }

    // .seventeen__titel
    &__title {
        font-weight: 800;
        font-size: 56px;
        line-height: 78px;
        width: 1038px;
    }

    // .seventeen__features
    &__features {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 80px;
    }

    // .seventeen__features-col
    &__features-col {
        display: flex;
        flex-direction: column;
        row-gap: 80px;

        // .seventeen__features-col_item
        &_item {
            display: flex;
            width: 100%;
            min-width: 400px;
            max-width: 630px;
        }

        // .seventeen__features-col_picture
        &_picture {
            min-width: 74px;
            min-height: 74px;
        }

        // .seventeen__features-col_picture-img
        &_picture-img {
            width: auto;
            height: auto;
            object-fit: contain;
        }

        // .seventeen__features-col_text
        &_text {}

        // .seventeen__features-col_text-span
        &_text-span {}
    }
}







// ==================================
// BEM BLOCKS-
.checked-item {
    display: flex;
    margin: 10px 0;
    align-items: center;

    img {
        width: 18px;
        height: 21px;
    }

    // .checked-item_text
    &_text {
        margin-left: 10px;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;

        span {
            font-weight: 400;
            opacity: 0.6;
        }
    }
}

.heading-title-lable {
    display: flex;
    justify-content: center;
    align-items: center;
    // padding: 17px 0px;
    // width: 363px;
    height: 64px;
    background: linear-gradient(275.98deg, #121212 3.53%, #181818 97.46%), #121212;
    box-shadow: 34px 4px 137px rgba(16, 120, 116, 0.06);
    border-radius: 999px;
}

.text-opacity-gray {
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: left;
    color: rgba(255, 255, 255, 0.3);
}

// ============================
// tabs
.card-item {

    // .card-item__block
    &__block {
        display: flex;
        align-items: center;
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 12px;
        gap: 10px;
    }

    // .card-item__block-img
    &__block-img {
        filter: invert(36%) sepia(0%) saturate(0%) hue-rotate(178deg) brightness(92%) contrast(97%);
    }

}

._tab-active {
    border: 1px solid $main;
}

._tab-active .card-item {
    &__block {}

    &__block-img {
        filter: invert(57%) sepia(29%) saturate(5589%) hue-rotate(138deg) brightness(92%) contrast(95%);
    }

    &__block-text {
        color: $main;
    }
}

// ============================
// SWIPER
.swiper {}

.swiper-wrapper {}

.swiper-slide {}

.swiper-pagination {}

.swiper-pagination-bullets {}

.swiper-pagination .swiper-pagination-bullet {
    background: white;
    opacity: 1;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background: $main;
}

.swiper-button-prev,
.swiper-button-next {
    // width: 38px;
    // height: 38px;
    background: white;
    border-radius: 50%;

    &::after {
        color: #333333;
    }

    @media (any-hover: hover) {
        &:hover {
            background: $main;
        }
    }
}