/* Daria */
body {}

.order {


    &__header {
        display: flex;
        margin: 37px 0 37px 0;

    }

    &__choice {
        width: 50%;
        display: flex;
        align-items: center;

    }

    &__title {
        margin-top: 0px;
    }

    &__btn {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: end;
        opacity: 0.6;

    }

    &__btn-nav {
        display: flex;
        color: #FFFFFF;
        align-items: center;
    }

    &__img-nav {
        width: 7px;
        height: 14px;
        margin-right: 7px;
    }
}

.fifteen {

    &__sensor-point {

        &_picture-num {
            position: relative;
            top: 0;
            left: 0;
            margin-right: 14px;
        }
    }
}

.main {

    &__subtitle {}
}


.order {

    &__items {
        display: flex;
    }

    &__column-left {
        width: 50%;
    }

    &__item--hit {
        display: flex;
        background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), linear-gradient(0deg, rgba(34, 34, 34, 0.4), rgba(34, 34, 34, 0.4)), linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%);
        border-radius: 11px;
        margin: 0 10px 20px 0;
    }

    &__product {
        width: 40%;
        background: linear-gradient(0deg, rgba(34, 34, 34, 0.52), rgba(34, 34, 34, 0.52)), linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), #D9D9D9;
        position: relative;
        display: flex;
        border-radius: 11px 0 0 11px;
        align-items: center;

    }

    &__product-img {

        padding: 30px 33px 12px 28px;
        position: absolute;
    }

    &__product-hit {
        padding: 7px 14px;
        font-size: 10px;
        position: absolute;
        top: 10px;
        left: 154px;
    }


    &__info {
        width: 60%;
        padding: 22px 34px;
    }

    &__info-title-wrap {
        min-height: 90px;
    }

    &__info-title {
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 16px;
    }


    &__info-button {
        font-weight: 500;
        font-size: 16px;
        color: #06B0A1;
        margin-bottom: 35px;
        padding: 0;

    }

    &__info-price {
        display: flex;
        align-items: center;
        margin-bottom: 13px;
        justify-content: space-between;
    }

    &__info-new {
        font-weight: 700;
        font-size: 22px;
        line-height: 27px;
    }

    &__info-old {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    &__info-counter {
        display: flex;
        border: 1px solid #c4c4c440;
        border-radius: 5px;


    }

    &__info-plus {
        color: white;
        border-right: 1px solid #c4c4c440;
        padding: 6px 14px;
    }

    &__info-count {
        padding: 6px 14px;
    }

    &__info-minus {
        color: white;
        border-left: 1px solid #c4c4c440;
        padding: 6px 14px;
    }

    &__main-button {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 14px;
        line-height: 30px;
        text-align: center;
        color: #06B0A1;
        border: 1px solid;
        border-radius: 50px;
        padding: 12px 40px;

    }


    &__column-right {
        width: 50%;
    }

    &__item--hitR {
        display: flex;
        background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), linear-gradient(0deg, rgba(34, 34, 34, 0.4), rgba(34, 34, 34, 0.4)), linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%);
        border-radius: 11px;
        margin: 0 0 20px 10px;
        position: relative;
    }
}


.price {

    &__new {}

    &__old {}
}


.order {

    &__footer {
        display: flex;
        justify-content: space-between;
        background: linear-gradient(276.53deg, #121212 3.6%, #1D1D1D 104.04%), #D9D9D9;
        border-radius: 12px;
        padding: 0 50px;
        margin: 20px 0 92px 0;
    }

    &__fooret-info {}

    &__footer-items {
        display: flex;
        align-items: center;
    }

    &__footer-text {}

    &__footer-text2 {
        opacity: 0.6;

    }

    &__footer-price {}

    &__footer-button {
        margin-left: 30px;
        width: 236px;
        height: 56px;
        text-align: center;

    }
}

.prise {

    &__subtitle {
        opacity: 0.6;
    }
}

.new {

    &__price {
        font-size: 36px;
        font-weight: bold;
    }
}

.main-btn {}